version: '3.8'

services:
  devcontainer:
    build:
      context: ..
      dockerfile: containers/devcontainer/Dockerfile
    volumes:
      - ../:/workspace:cached
    command: sleep infinity
    networks:
      - devtools-network

networks:
  devtools-network:
    name: devtools-network